@charset "UTF-8";
/*初始化*/
* {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: #3d3f4e;
  text-decoration: none; }

html {
  background-color: #f6f8f7; }

body {
  font-family: '微软雅黑';
  color: #333;
  font-size: 12px; }

/*公共*/
.clearfix:before, .clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

.layer {
  max-width: 10rem;
  margin: 0 auto; }

.yellow {
  position: relative;
  z-index: 2; }
  .yellow:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
    transform: translate(0, -50%);
    width: 100%;
    height: 0.25333rem;
    background-color: #fdff04;
    border-radius: 0.13333rem; }

/*头部*/
.header img {
  width: 100%; }

/*正文*/
.description {
  margin-top: 1rem;
  margin-bottom: 0.66667rem;
  height: 1.6rem;
  background: url(../img/text-bg.jpg) no-repeat;
  background-size: 100% auto; }
  .description .text {
    width: 7.78667rem;
    height: 1.36rem;
    line-height: 0.45333rem;
    padding: 0.16rem 0 0 1.2rem;
    font-size: 0.37333rem; }

.circle {
  display: flex;
  margin: 0.48rem auto 0;
  box-sizing: border-box;
  width: 9.24rem;
  height: 1.61333rem;
  border-radius: 0.80667rem;
  border: 0.02667rem #3d3f4e solid; }
  .circle .icon {
    flex: none;
    width: 1.98667rem;
    border-right: 0.02667rem #3d3f4e solid;
    background-position: 0.50667rem center;
    background-repeat: no-repeat; }
  .circle .text {
    padding-left: 0.29333rem; }
    .circle .text .title {
      margin-top: 0.06667rem;
      line-height: 0.8rem;
      font-size: 0.37333rem; }
    .circle .text .descr {
      line-height: 0.4rem;
      font-size: 0.32rem;
      color: #666; }
  .circle.circle1 .icon {
    background-image: url(../img/icon-1.jpg);
    background-size: 1.17333rem 1.09333rem; }
  .circle.circle2 {
    height: 1.93333rem;
    border-radius: 0.96667rem; }
    .circle.circle2 .icon {
      background-image: url(../img/icon-2.jpg);
      background-size: 1.17333rem 1.04rem; }
  .circle.circle3 {
    height: 1.93333rem;
    border-radius: 0.96667rem; }
    .circle.circle3 .icon {
      background-image: url(../img/icon-3.jpg);
      background-size: 1.21333rem 1.06667rem; }

.web-title {
  text-align: center;
  margin-top: 0.69333rem;
  font-size: 0.37333rem;
  line-height: 0.98667rem;
  color: #3d3f4e; }

.web-description {
  position: relative;
  margin: 0 0 0 1.06667rem;
  padding-left: 0.2rem;
  line-height: 0.4rem;
  font-size: 0.32rem; }
  .web-description:before {
    content: '';
    position: absolute;
    left: -0.05333rem;
    top: 0.09333rem;
    width: 0.05333rem;
    height: 0.26667rem;
    background-color: #3bb8c4; }

.bg {
  width: 100%;
  height: 7.77333rem;
  background: url(../img/bg.jpg) no-repeat center top;
  background-size: auto 100%;
  margin: -0.18667rem 0 -0.32rem; }

.link {
  display: block;
  width: 8.56rem;
  height: 1.56rem;
  margin: 1.13333rem 0 0 0.64rem;
  background: url(../img/link-bg.jpg) no-repeat;
  background-size: 100% 100%; }

.bottom {
  margin-top: 0.84rem;
  width: 100%;
  height: 1.89333rem;
  background: url(../img/bottom.jpg) no-repeat center top;
  background-size: auto 100%; }
